<!doctype html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        #centralizar{
            position:absolute; 
            top:14.7%;
            left:10%;
            transform: translate(-50%, -50%);
        }
    </style>
<body>
    <div class="w3-container">
        <form method="post">
            {% csrf_token %}
            <h1>Você tem certeza que quer remover o produto {{ produto.nome }} ?</h1>
            <button type="submit" class="w3-button w3-red w3-round-xlarge">Sim</button>
        </form>
        <div id="centralizar">
            <button onclick="goBack()"  class="w3-button w3-gray w3-round-xlarge">Cancelar</button>
        </div>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
    </div>
</body>
</html>